<template>
    <v-container fluid>
        <v-layout row>
            <v-flex xs12>


                <h1>404</h1>
                <p>
                    <v-icon>error</v-icon>
                    Страница не найдена
                </p>

            </v-flex>
        </v-layout>
    </v-container>

</template>

<script>
  export default {
    name: '404'
  }
</script>

<style lang="scss" scoped>

    h1 {
        font-size: 10rem;
    }

</style>
